*{
    margin: 0px;
    padding: 0px;
}
body{
    display: block;
    background-color: rgb(70, 70, 70);
}
header{
    width: 100%;
    height: 50px;
    background-color: black;
}
#logo{
    width: 20%;
    margin: 0;
    padding: 0;
    float: left;
    color: aliceblue;
}

#buscador{
    padding-left: 5em;
    width: 40%;
    height: 30px;
    padding-top: 0.5em;
    display: flex;
    margin: auto;
    float: left;
}
#buscador1{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

#lupa{
    display: flex;
    height: 30px;
    padding-top: 0.6em;
    padding-left: 0.3em;
}
#logo1 img{
    padding-left: 0.2em;
    width: 60px;
    height: 53px;
}
#logo1{
    float: left;
    width: 70px;
}
#nombrelogo{
    padding-top: 0.9em;
    font-family: "arial";
}
#video{
    display: flex;
    margin: 20px;
    width: 100%;
    height: 600px;
    background-color: rgb(0, 0, 0);

}
#canalYutu{
    display: flex;
    width: 100%;
    height: 100px;
    margin: 20px;
    border-bottom: solid rgb(46, 46, 46);
    padding-bottom: 8px;
}
#logoCanal{
    width: 100px;
    border-radius: 50%;
    float: left;
}
#nombreCanal h3{
    margin-top: 39px;
    margin-left: 10px;
    color: white;
}
#derecha{
    width: 28%;
    height: 2000px;
    display: flex;
    flex-direction: column;

}
#izquierda{
    display: flex;
    width: 70%;
    flex-direction: column;
}
#container{
    display: flex;
    width: 97%;
    justify-content: space-between;
}
#comentariosYutu{
    width: 100%;
    height: 540px;
    background-color: black;
    margin-top: -11px;
    margin-left: 20px;
    border-radius: 6px;
}
#descripcionYutu{
    width: 100%;
    height: 210px;
    background-color: black;
    margin: 20px;
    margin-top: 10px;
    border-radius: 6px;
}
#titulo{
    width: 100%;
    height: 47px;
    margin: 20px;
    margin-top: -10px;
    border-bottom: solid rgb(46, 46, 46);
}

#logoCanal1{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
#titulo1{
    margin-top: 12px;
    margin-left: 10px;
    color: white;
}
.comenta h4{
    padding-top: 30px;
    margin-left: 10px;
    color: white;
}
.comenta p{
    margin-top: 6px;
    margin-left: 10px;
    color: white;
}
.comenta{
    border-bottom: solid rgba(46, 46, 46, 0.63);
}
#descripcionYutu h4{
    color: white;
    margin-top: 6px;
    margin-left: 10px;
}
#descripcionYutu p{
    color: white;
    margin-top: 6px;
    margin-left: 10px;
}
.videosRelacionados{
    display: flex;
    height: 210px;
    background-color: black;
    margin: 20px;
    margin-top: -9px;
    width: 100%;
    border-radius: 6px;
}

.videos-relate{
    margin: 22px;
    width: 33%;
    height: 80%;
    background-color: azure;
}